<div class="account-page">
  <div class="account-page__inner">
    <h2>練習記録</h2>

    <%= form_with model: @record, local: true do |f|%>
      <div class="field">
        <div class="field-label">    
          <%= f.label :practice_time, "練習時間" %><br />
        </div>
        <div class="field-input">
          <%= f.text_field :practice_time, id:"#" %><br />
        </div>
        <div class="field-label">
          <%= f.label :ball, "球数" %><br />
        </div>
        <div class="field-input">
          <%= f.text_field :ball, id:"#" %><br />
        </div>
        <div class="field-label">
          <%= f.label :check, "課題" %><br />
          <% ["ヘッドが下がる","頭が突っ込む","手首がこねる","軸足に体重が乗らない"].each do |task| %>
            <%= f.check_box :check, {multiple: true}, task, nil %>
            <%= task %><br />
          <% end %>
        </div>
        <div class="field-label">
          <%= f.label :content, "詳細" %><br />
        </div>
        <div class="field-input">
          <%= f.text_area :content, id:"#" %><br />
        </div>
        <div class="actions">
          <%= f.submit "記録" %>
        </div>
      </div>    
    <% end %>
  </div>
</div>